 <div class="footer">
       	  <div class="footer-top">
       		<div class="wrap">
       			   <div class="col_1_of_footer-top span_1_of_footer-top">
				  	 <ul class="f_list">
				  	 	<li><img src="images/f_icon.png" alt=""/><span class="delivery">Uy tín là bạc - trách nhiệm là vàng</span></li>
				  	 </ul>
				   </div>
				   <div class="col_1_of_footer-top span_1_of_footer-top">
				  	<ul class="f_list">
				  	 	<li><img src="images/f_icon1.png" alt=""/><span class="delivery">Liên hệ tư vấn :<span class="orange"> (800) 000-2587 (phone)</span></span></li>
				  	 </ul>
				   </div>
				   <div class="col_1_of_footer-top span_1_of_footer-top">
				  	<ul class="f_list">
				  	 	<li><img src="images/f_icon2.png" alt=""/><span class="delivery">Di chuyển nhanh chóng & an toàn</span></li>
				  	 </ul>
				   </div>
				  <div class="clear"></div>
			 </div>
       	 </div>
       	 <div class="footer-middle">
       	 	<div class="wrap">
       	 		<div class="section group">
				<div class="col_1_of_middle span_1_of_middle">
					<dl id="sample" class="dropdown">
			        <dt><a href="##"><span>Lựa chọn thành phố</span></a></dt>
			        <dd>
			            <ul>
			                <li><a href="##">Australia<img class="flag" src="static/images/as.png" alt="" /><span class="value">AS</span></a></li>
			                <li><a href="##">Sri Lanka<img class="flag" src="static/images/srl.png" alt="" /><span class="value">SL</span></a></li>
			                <li><a href="##">Newziland<img class="flag" src="static/images/nz.png" alt="" /><span class="value">NZ</span></a></li>
			                <li><a href="##">Pakistan<img class="flag" src="static/images/pk.png" alt="" /><span class="value">Pk</span></a></li>
			                <li><a href="##">United Kingdom<img class="flag" src="static/images/uk.png" alt="" /><span class="value">UK</span></a></li>
			                <li><a href="##">United States<img class="flag" src="static/images/us.png" alt="" /><span class="value">US</span></a></li>
			            </ul>
			         </dd>
   				    </dl>
   				 </div>
				<div class="col_1_of_middle span_1_of_middle">
					<ul class="f_list1">
						<li><span class="m_8">Nhận thông báo khi có chuyến bay mới</span>
						<div class="search">
							<input type="text" name="s" class="textbox" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
							<input type="submit" value="Subscribe" id="submit" name="submit">
							<div id="response"> </div>
			 			</div><div class="clear"></div>
			 		    </li>
					</ul>
				</div>
				<div class="clear"></div>
			   </div>
       	 	</div>
       	 </div>
       	 <!-- Footer -->
	<footer class="text-center text-lg-start bg-light text-muted">
	<!-- Section: Social media -->
	<section
	  class="d-flex justify-content-center justify-content-lg-between border-bottom" style="padding: 1rem 10rem"
	>
	  <!-- Left -->
	  <div class="me-5 d-none d-lg-block">
		<span>Kết nối với chúng tôi:</span>
	  </div>
	  <!-- Left -->

	  <!-- Right -->
	  <div>
		<a href="" class="mr-4 text-reset">
		  <i class="fab fa-facebook-f" style="font-size: 20px; color: #6c757d"></i>
		</a>
		<a href="" class="mr-4 text-reset">
		  <i class="fab fa-twitter" style="font-size: 20px; color: #6c757d"></i>
		</a>
		<a href="" class="mr-4 text-reset">
		  <i class="fab fa-google" style="font-size: 20px; color: #6c757d"></i>
		</a>
		<a href="" class="mr-4 text-reset">
		  <i class="fab fa-instagram" style="font-size: 20px; color: #6c757d"></i>
		</a>
		<a href="" class="mr-4 text-reset">
		  <i class="fab fa-linkedin" style="font-size: 20px; color: #6c757d"></i>
		</a>
		<a href="" class="mr-4 text-reset">
		  <i class="fab fa-github" style="font-size: 20px; color: #6c757d"></i>
		</a>
	  </div>
	  <!-- Right -->
	</section>
	<!-- Section: Social media -->

	<!-- Section: Links  -->
	<section class="">
	  <div class="container text-center text-md-start mt-5">
		<!-- Grid row -->
		<div class="row mt-3">
		  <!-- Grid column -->
		  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
			<!-- Content -->
			<h6 class="text-uppercase fw-bold mb-4" style="font-size: 24px">
			  <i class="fas fa-plane-departure mr-3" style="font-size: 40px"></i>Bug Airlines
			</h6>
			<p>
			  Bug Airlines tự hào là Hãng hàng không quốc tế 4 sao. Xin trân trọng cảm ơn sự đồng hành của Quý khách và bạn hàng!
			</p>
		  </div>
		  <!-- Grid column -->

		  <!-- Grid column -->
		  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
			<!-- Links -->
			<h6 class="text-uppercase fw-bold mb-4">
			  Bug Airline
			</h6>
			<p>
			  <a href="#!" class="text-reset" style="color: #6c757d">Giới thiệu công ty</a>
			</p>
			<p>
			  <a href="#!" class="text-reset" style="color: #6c757d">Đội Bay</a>
			</p>
			<p>
			  <a href="#!" class="text-reset" style="color: #6c757d">Đối Tác</a>
			</p>
			<p>
			  <a href="#!" class="text-reset" style="color: #6c757d">Thông Tin Truyền Thông</a>
			</p>
			<p>
			  <a href="#!" class="text-reset" style="color: #6c757d">Quan Hệ Cổ Đông</a>
			</p>
		  </div>
		  <!-- Grid column -->

		  <!-- Grid column -->
		  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
			<!-- Links -->
			<h6 class="text-uppercase fw-bold mb-4">
			  Pháp Lý
			</h6>
			<p>
			  <a href="#!" class="text-reset" style="color: #6c757d">Các điều kiện & điều khoản</a>
			</p>
			<p>
			  <a href="#!" class="text-reset" style="color: #6c757d">Điều Lệ Vận Chuyển</a>
			</p>
			<p>
			  <a href="#!" class="text-reset" style="color: #6c757d">Bảo Mật Thông Tin</a>
			</p>
			<p>
			  <a href="#!" class="text-reset" style="color: #6c757d">Quy Chế Hoạt Động Sàn MTDT</a>
			</p>
		  </div>
		  <!-- Grid column -->

		  <!-- Grid column -->
		  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
			<!-- Links -->
			<h6 class="text-uppercase fw-bold mb-4">
			  Contact
			</h6>
			<p><i class="fas fa-home me-3"></i> Sai Gon, Q1 2000, VIE</p>
			<p>
			  <i class="fas fa-envelope me-3"></i>
			  info@example.com
			</p>
			<p><i class="fas fa-phone me-3"></i> + 84 234 567 88</p>
			<p><i class="fas fa-print me-3"></i> + 84 234 567 89</p>
		  </div>
		  <!-- Grid column -->
		</div>
		<!-- Grid row -->
	  </div>
	</section>
	<!-- Section: Links  -->

	<!-- Copyright -->
	<div class="text-center" style="background-color: rgba(0, 0, 0, 0.05); padding: 1rem 10rem; font-size: 12px">
	  © 2021 Copyright:
	  <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Bugteam.dev</a>
	</div>
	<!-- Copyright -->
  	</footer>
  <!-- Footer -->
       </div>