
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Trang Admin</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="static/css_staff/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->

<link href="static/css_staff/font-awesome.css" rel="stylesheet">
<!-- Mainly scripts -->
<!-- Custom and plugin javascript -->
<link href="static/css_staff/custom.css" rel="stylesheet">
<link href="static/css_staff/style.css" rel='stylesheet' type='text/css' />
	<!--//scrolling js-->
	<script src="static/js/bootstrap.min.js"> </script>
    <script src="static/js/script.js"></script>
<!--    <script src="{{ url_for('static', filename='js/staff_script.js') }} "></script>-->
</head>

<body>

    {% block header %}

      {% include 'layout/layout_staff/header.html' %}
    {% endblock %}
	{% block sidebar %}
	{% include 'layout/layout_staff/sidebar.html'%}
	{% endblock sidebar %}
    {% block content %}


    {% endblock %}
    {% block footer %}

     {% include 'layout/layout_staff/footer.html'%}
    {% endblock %}

</body>
</html>
