<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between border-bottom" style="padding: 1rem 10rem"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Quản lí marketing:  </span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="mr-4 text-reset">
        <i class="fab fa-facebook-f" style="font-size: 20px; color: #6c757d"></i>
      </a>
      <a href="" class="mr-4 text-reset">
        <i class="fab fa-twitter" style="font-size: 20px; color: #6c757d"></i>
      </a>
      <a href="" class="mr-4 text-reset">
        <i class="fab fa-google" style="font-size: 20px; color: #6c757d"></i>
      </a>
      <a href="" class="mr-4 text-reset">
        <i class="fab fa-instagram" style="font-size: 20px; color: #6c757d"></i>
      </a>
      <a href="" class="mr-4 text-reset">
        <i class="fab fa-linkedin" style="font-size: 20px; color: #6c757d"></i>
      </a>
      <a href="" class="mr-4 text-reset">
        <i class="fab fa-github" style="font-size: 20px; color: #6c757d"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4" style="font-size: 24px">
            <i class="fas fa-plane-departure mr-3" style="font-size: 40px"></i>Bug Airlines
          </h6>
          <p>
            Bug Airlines tự hào là Hãng hàng không quốc tế 4 sao. Xin trân trọng cảm ơn sự đồng hành của Quý khách và bạn hàng!
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Bug Airline
          </h6>
          <p>
            <a href="#!" class="text-reset" style="color: #6c757d">Giới thiệu công ty</a>
          </p>
          <p>
            <a href="#!" class="text-reset" style="color: #6c757d">Thống kê đôi bay</a>
          </p>
          <p>
            <a href="#!" class="text-reset" style="color: #6c757d">Thống kê đối tác</a>
          </p>
          <p>
            <a href="#!" class="text-reset" style="color: #6c757d">Thống kê doanh thu</a>
          </p>
          <p>
            <a href="#!" class="text-reset" style="color: #6c757d">Quan Hệ Cổ Đông</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Pháp Lý
          </h6>
          <p>
            <a href="#!" class="text-reset" style="color: #6c757d">Các điều kiện & điều khoản</a>
          </p>
          <p>
            <a href="#!" class="text-reset" style="color: #6c757d">Điều Lệ Vận Chuyển</a>
          </p>
          <p>
            <a href="#!" class="text-reset" style="color: #6c757d">Bảo Mật Thông Tin</a>
          </p>
          <p>
            <a href="#!" class="text-reset" style="color: #6c757d">Quy Chế Hoạt Động Sàn MTDT</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Quản lí liên lạc
          </h6>
          <p><i class="fas fa-home me-3"></i> Sai Gon, Q1 2000, VIE</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 84 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 84 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center" style="background-color: rgba(0, 0, 0, 0.05); padding: 1rem 10rem; font-size: 12px">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Bugteam.dev</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->